spring:
  application:
    name: logbat_meta
  mvc:
    view:
      prefix: /WEB-INF/views/
      suffix: .jsp

  profiles:
    active: local

jdbc:
  async:
    timeout: 2000
    bulk-size: 100
---
spring:
  config:
    activate:
      on-profile: test

  datasource:
    url: jdbc:mysql://localhost:3306/logbat
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: create

---
spring:
  config:
    activate:
      on-profile: local

  datasource:
    url: jdbc:mysql://localhost:3306/logbat
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: none
